@font-face {
    font-family: "MarkPro";
    src: url("../fonts/MarkPro-Book.woff2") format("woff2"),
        url("../fonts/MarkPro-Book.woff") format("woff"),
        url("../fonts/MarkPro-Book.svg#MarkPro-Book") format("svg"),
        url("../fonts/MarkPro-Book.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MarkPro";
    src: url("../fonts/MarkPro-Bold.woff2") format("woff2"),
        url("../fonts/MarkPro-Bold.woff") format("woff"),
        url("../fonts/MarkPro-Bold.svg#MarkPro-Bold") format("svg"),
        url("../fonts/MarkPro-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

html,
body {
    font-family: "MarkPro", sans-serif;
    color: #333433;
}
.popover {
    font-family: "MarkPro";
    font-size: 14px;
    padding: 10px 15px;
    max-width: 500px;
}
.popover-header {
    font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #a43332;
    padding: 0.5rem 0rem;
}
.popover-body {
    background-color: #fff;
    padding: 0.5rem 0rem;
}

.graphic {
    background: #edeee9;
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 210px;
    background-image: url(/images/2scale-infographic.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    /* -moz-box-shadow: inset 0 0 10px #d8d8d8;
    -webkit-box-shadow: inset 0 0 10px #d8d8d8;
    box-shadow: inset 0 0 10px #d8d8d8; */
}
.graphic-bottom {
    background: #edeee9;
    height: 50px;
    margin-bottom: 2rem;
}
.graphic img {
    padding: 20px;
}

@media screen and (min-width: 500px) {
    .graphic {
        height: 135px;
    }
    .graphic-bottom {
        height: 20px;
    }
}
@media screen and (min-width: 600px) {
    .graphic {
        height: 170px;
    }
    .graphic-bottom {
        height: 30px;
    }
}
@media screen and (min-width: 700px) {
    .graphic {
        height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .graphic {
        background-image: url(/images/infographic.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 210px;
    }
    .graphic-bottom {
        height: 50px;
    }
    .popover-graphic-wrapper {
        display: flex;
        flex-direction: row;
    }
    #infoBlock1 {
        cursor: pointer;
        margin-top: 17%;
        height: 10rem;
        width: 28%;
    }
    #infoBlock2 {
        cursor: pointer;
        margin-top: 10%;
        height: 10rem;
        width: 10%;
    }
    #infoBlock3 {
        cursor: pointer;
        margin-top: 17%;
        height: 10rem;
        width: 13%;
    }
    #infoBlock4 {
        height: 10rem;
        width: 15%;
    }
    #infoBlock5 {
        cursor: pointer;
        margin-top: 10%;
        height: 10rem;
        width: 34%;
    }
}
@media screen and (min-width: 992px) {
    .graphic {
        height: 270px;
    }
}
@media screen and (min-width: 1200px) {
    .graphic {
        height: 330px;
    }
    #infoBlock1 {
        cursor: pointer;
        margin-top: 170px;
        height: 140px;
        width: 28%;
    }
    #infoBlock2 {
        cursor: pointer;
        margin-top: 90px;
        height: 140px;
        width: 10%;
    }
    #infoBlock3 {
        cursor: pointer;
        margin-top: 170px;
        height: 140px;
        width: 13%;
    }
    #infoBlock4 {
        height: 140px;
        width: 15%;
    }
    #infoBlock5 {
        cursor: pointer;
        margin-top: 90px;
        height: 140px;
        width: 34%;
    }
}
@media screen and (min-width: 1400px) {
    .graphic {
        height: 380px;
    }
    #infoBlock1 {
        cursor: pointer;
        margin-top: 200px;
        height: 140px;
        width: 28%;
    }
    #infoBlock2 {
        cursor: pointer;
        margin-top: 110px;
        height: 140px;
        width: 10%;
    }
    #infoBlock3 {
        cursor: pointer;
        margin-top: 200px;
        height: 140px;
        width: 13%;
    }
    #infoBlock4 {
        height: 140px;
        width: 15%;
    }
    #infoBlock5 {
        cursor: pointer;
        margin-top: 110px;
        height: 140px;
        width: 34%;
    }
}
@media screen and (min-width: 1600px) {
    .graphic {
        height: 430px;
    }
    #infoBlock1 {
        cursor: pointer;
        margin-top: 230px;
        height: 140px;
        width: 28%;
    }
    #infoBlock2 {
        cursor: pointer;
        margin-top: 130px;
        height: 140px;
        width: 10%;
    }
    #infoBlock3 {
        cursor: pointer;
        margin-top: 230px;
        height: 140px;
        width: 13%;
    }
    #infoBlock4 {
        height: 140px;
        width: 15%;
    }
    #infoBlock5 {
        cursor: pointer;
        margin-top: 130px;
        height: 140px;
        width: 34%;
    }
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row .even-row {
    background-color: #fbfbfb;
    padding-bottom: 1rem;
}

.card,
.navbar,
.page-link {
    box-shadow: none !important;
    font-size: 14px;
}
.navbar,
.page-link {
    font-weight: bold;
}

.card {
    background: transparent !important;
    border-bottom: none;
}

.card-header {
    background: none !important;
    text-align: center;
    border-bottom: none;
    font-weight: bold;
}

.loader-spinner {
    position: absolute;
    top: 45%;
}

.nav-item.active > .nav-link {
    color: #a43332;
}

.footer {
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sitemap > .nav > .nav-item > .nav-link {
    padding: 0 1rem;
}

.uii-col {
    display: table-cell;
}

.uii-col.uii-percentage {
    width: 100px;
    font-weight: bold;
    font-size: 34px;
    vertical-align: middle;
    text-align: center;
}
.uii-charts {
    margin-top: 1rem;
    text-align: center;
}
.uii-charts.no-margin {
    margin-top: 0;
}
.uii-charts .uii-title {
    min-height: 72px;
}
.main-page {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#filters {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    width: 300px;
}
#filters .card {
    max-width: 300px;
    border: 1px solid #ddd;
}
#filters .card .list-group .list-group-item {
    display: flex;
    padding: 0px;
    cursor: pointer;
}
#filters .card .list-group .list-group-item i {
    color: green;
}
#filters .card .list-group .list-group-item span {
    padding: 0.75rem 1.25rem;
}
#filters .card .list-group .list-group-item span b {
    color: #a43332;
}
#filters .card .list-group .list-group-item .filter-content {
    width: 240px;
}
#filters .card .list-group .list-group-item .filter-content.full {
    width: 286px;
}
#filters .card .list-group .list-group-item .filter-content:hover {
    background-color: #f2f2f2;
}
#filters .card .list-group .list-group-item .filter-content.active,
#filters .card .list-group .list-group-item .filter-content.active:hover,
#filters .card .list-group .list-group-item .filter-content.active b,
#filters .card .list-group .list-group-item .filter-content.active:hover > b {
    background-color: #a43332;
    color: #fff;
}
#filters .card .list-group .list-group-item .filter-childs {
    float: right;
}
#filters .card .list-group .list-group-item .filter-childs:hover {
    background-color: #f2f2f2;
}
h3#subtitle {
    font-size: 16px;
    text-align: center;
    margin: auto;
    max-width: 50%;
}
h3#subtitle b {
    color: #a43332;
    font-weight: bold;
}
#country-container {
    margin: auto;
    width: auto;
}
#country-selected {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 5px 15px;
    width: auto;
    margin: auto;
}
.map-notation {
    float: right;
}

/* Home carousel */
.carousel-item.home-carousel-item {
    background: #000000;
}
img.d-block.w-100.home-carousel-img {
    height: 80vh;
    object-fit: cover;
    opacity: 0.6;
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}
.carousel-caption.d-none.d-md-block {
    margin-bottom: 90px;
    width: 33%;
    text-align: left;
}
.carousel-caption.d-none.d-md-block > h2 {
    font-size: 50px;
    text-shadow: 2px 2px 8px #000000;
}
/* Eol Home carousel */
